body {
	background-image: url("download.jpg");
	background-size: cover;
}

* {

font-family: sans-serif;


}


img {

    max-width: 20%;
    
    max-height: 20%;
    
    }

    * {
           text-align: center;


    }

 
    * {
       box-sizing: border-box;
     }


     .group:after {
       content: "";
       display: table;
       clear: both;
     }
     
     .text {
       float: left;
       width: 90%;
     }
     
     .images {
       float: right;
       width: 50%;
     }